*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --curved-shadow: 0 2px 18px rgba(0, 0, 0, 0.5);
    --box-size: 600px;
}

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile {
    display: grid;
    grid-template-columns: 300px minmax(300px, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "avatar info";
    border: 1px solid darkblue;
    max-width: 600px;
    border-radius: .5rem;
}


.avatar {
    grid-area: avatar;
    /* width: 100%; */
    padding: 1rem;
    position: relative;
    transition: all 1s ease-in-out;
}

.avatar img {
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.avatar .inverted,
.avatar .bg {
    background: #000;
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: calc(100% - 2rem);
    z-index: 10;
    opacity: 0;
    box-shadow: none;
}

.avatar .bg {
    opacity: 1;
}

.avatar .main {
    z-index: 20;
}



.avatar:hover .inverted {
    opacity: 1;
    box-shadow: var(--curved-shadow);
}

.avatar:hover{
    transform: scale(1.05);
}
.info {
    grid-area: info;
    padding: 1rem;
}

.bio {
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 1rem;
}